# --- Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
.melos_tool/

# --- Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
**/captures/

# --- iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/

# --- VSCode / IDE
.vscode/
.idea/
*.iml

# --- Misc
*.log
